/* displaycourse.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7df; /* Light pastel yellow background */
}

header {
    background-color: #004080; /* Dark blue */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 70px;  /* Decreased the logo size */
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

header nav a:hover {
    background-color: #003366;
}

h1 {
    text-align: center;
    color: #004080;
    margin-top: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #e6f9e6; /* Light green background for the table */
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #004080; /* Dark blue */
    color: #fff;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #ccffcc; /* Light green for even rows */
}

table tr:hover {
    background-color: #b3ffb3; /* Darker green on hover */
}

table td {
    color: #333;
}
.lesson-name {
    color: #333; /* You can adjust the color as needed */
    margin-bottom: 5px; /* Adjust the spacing between lesson names */
    list-style-type: circle; /* Remove bullet points */
    padding-left: 0px; /* Remove default padding */
}