/* explore.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

/* Styling for the home navigation icon */
.home-link {
    position: fixed;
    top: 20px;
    right: 20px;
}

.home-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

/* explore.css */

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e67e22; /* Red color */
    font-size: 2.5em; /* Font size */
    font-weight: bold; /* Bold style */
    text-transform: uppercase;
    letter-spacing: 1.5px; /* Increased letter spacing */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    text-align: left;
     text-align: center;
}

tbody td {
    padding: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.buy-button {
    background-color: #d33f1a;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Adjusted font size */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-button:hover {
    background-color: #d33f1a;
    transform: scale(1.05); /* Add slight scale effect on hover */
}

/* Apply original case to button text */
.buy-button::first-letter {
    text-transform: none;
}

/* Highlight the price */
.buy-button span.price {
    font-weight: bold;
    margin-left: 5px; /* Add some spacing */
    font-size: 1.5em;
}
/* explore.css */

tbody td.course-name {
    font-weight: bold; /* Bold font */
    font-size: 18px
}
