@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #43cea2, #185a9d); /* Gradient background */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
    z-index: -1;
}

h1 {
    font-family: 'Montserrat', sans-serif; /* Change the font family */
    font-size: 80px; /* Increase font size */
    font-weight: 700; /* Make the font bold */
    background: linear-gradient(135deg, #ffcc00, #ff6600); /* Gradient text color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Text shadow for emphasis */
    margin: 20px 0; /* Adjust margins */
    text-align: center; /* Center-align the text */
}
.homepage {
    text-align: center;
    margin-top: 20px;
}

.register,
.login {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    color: #fff; /* White text color */
    background: linear-gradient(45deg, #43cea2, #185a9d, #00f260, #0575e6, #ffdd00);
    background-size: 300% 300%;
    border-radius: 50px;
    font-size: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    cursor: pointer;
    animation: gradientBackground 5s ease infinite;
}

.register:hover,
.login:hover {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.logo {
    margin-top: -50px; /* Adjust as necessary for your layout */
}

.logo img {
    height: 180px; /* Adjust the size of the logo */
    width: auto;
}
header .logo img {
    height: 20px;
}