/* mycourse.css */

/* Reset some default styling */
body, h1, h2, ul, li, label, button, form, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up the body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #c6ffff;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
a {
    
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #007bff; /* Default link color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
#more {
	position: absolute;
}
a:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline;
}

/* Course container styling */
.course-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.course-container:hover {
    transform: translateY(-5px);
}

.course-container label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    color: #555;
    font-size: 22px;
}

.course-container h2 {
    margin: 5px 0 10px;
    font-size: 30px;
    color: #e74c3c;  /* New course name color */
    text-transform: capitalize;
}

/* Lesson name label styling */
.lesson-name {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    font-size: 1em;
    font-weight: bold;
}

/* Lesson list styling */
.lesson-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    margin-top: 20px; /* Added margin top */
}

.lesson-list li {
    margin-bottom: 10px;
}

.lesson-list form {
    display: inline-block;
}

.lesson-list button {
    background-color: #16a085;  /* Updated button color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.lesson-list button:hover {
    background-color: #13856e;  /* Updated hover color */
    transform: scale(1.05);
}
#course {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#course:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
