/* Body and Background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Form Styles */
form {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h2 {
    text-align: center;
    color: #185a9d;
    margin-bottom: 1px;
    font-size: 18px;
}
 h5 {
    color: #d9534f; /* Bootstrap red color for errors */
    background-color: #f2dede; /* Light red background */
    border: 1px solid #ebccd1; /* Border matching the background */
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
}

label {
    color: #333;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    box-sizing: border-box;
    font-size: 12px;
}

.radios-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px; /* Increase gap between radio buttons and labels */
    margin-left: 10px;
}

.radio-group input {
    margin-left: 10px; /* Add space between the input and label */
}

.radio-group label {
    margin-right: 15px;
}

textarea {
    resize: vertical;
    font-size: 12px;
}

input[type="submit"] {
    background: #185a9d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: #43cea2;
}
/* Anchor link style */
a {
    text-align: center;
    display: block; /* Make it block-level to ensure it starts on a new line */
    margin-top: 10px; /* Space between submit button and link */
    font-size: 12px;
    color: #185a9d; /* Matching color for consistency */
    text-decoration: none; /* Remove default underline */
}

a:hover {
    color: #43cea2; /* Change color on hover for better UX */
    text-decoration: underline; /* Add underline on hover for clarity */
}
