<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/addcourse" method="post">
		<label>Course Name:</label>
		<input type="text" name="name" />
		<label>Course Pre-Requsite:</label>
		<input type="text" name="prerequsit" />
		<label>Course Description:</label>
		<input type="text" name="descrip" />
		<label>Course Price:</label>
		<input type="number" name="price" />
		<input type="submit" value="Add Course">
	</form>
</body>
</html>