<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Learn Sphere</title>
<link href="trainerstyle.css" rel="stylesheet">
</head>
<body>
	<header>
        <div class="logo">
            <img src="learnsphere.png" alt="Learn Sphere">
        </div>
        
        <nav class="trainer">
        	<a href="/map-course" title="Click to add a new course">Add Course</a>
        	<a href="/viewcourse" title="Click to view existing courses">View Course</a>
        
            <a href="/map-adminhome" title="Go to Home Page">Home</a>
        </nav>
    </header>
    <h1>Add New Lesson</h1>
	<form action="/addlesson" method="post">
		<label>Course ID:</label>
		<input type="text" name="couId" required>
		<br><br>
		<label>Lesson Name:</label>
		<input type="text" name="lessonName" required>
		<br><br>
		<label>Lesson Topics:</label>
		<input type="text" name="topics" required>
		<br><br>
		<label>Lesson Video:</label>
		<input type="text" name="video" required>
		<br><br>
		<label>Lesson Attachment:</label>
		<input type="text" name="attachment" required>
		<br><br>
		<input type="submit" value="Add Lesson">
	</form>
</body>
</html>