<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Learn Sphere</title>
<link href="customer.css" rel="stylesheet">
</head>
<body>
	<header>
        <div class="logo">
            <img src="learnsphere.png" alt="Learn Sphere">
        </div>
        <div class="app-name">Learn Sphere</div>
        <nav>
            <a href="/map-customerhome" title="Go to Home Page">Home</a>
            <a href="/logout" title="Logout your account">Logout</a>
        </nav>
    </header>

	<div class="form">
		<h1>Welcome to Learn Sphere</h1>
        <p>Discover the world of online learning with Learn Sphere! Whether you're a budding programmer or an experienced developer, our platform offers a comprehensive range of courses to help you enhance your skills and advance your career.</p>
        <p>Explore our extensive collection of courses covering various topics in software development and beyond. Each course is crafted by industry experts and designed to provide you with practical knowledge and hands-on experience.</p>
        <p>Join our community of learners today and take the next step towards achieving your professional goals. Start your learning journey with Learn Sphere!</p>
		<a href="/mycourse" title="Click to view my couses" >MY COURSE</a>
		<a href="/explorecourse" title="Click here to explore the courses">EXPLORE MORE COURSES</a>
	</div>
</body>
</html>