<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Learn Sphere</title>
<link href="admin.css" rel="stylesheet">
</head>
<body>
	<script>
		alert("Lesson added Successfully.")
	</script>
	 <header>
        <div class="logo">
            <img src="learnsphere.png" alt="Learn Sphere">
        </div>
        <div class="app-name">Learn Sphere</div>
        <nav>
            <a href="/map-adminhome" title="Go to Home Page">Home</a>
            <a href="/logout" title="Logout your account">Logout</a>
        </nav>
    </header>
    <div class="form">
        <h1>Hello, trainer !!</h1>
        <h3>Empower Your Students, Transform Their Futures.</h3>
        <a href="/map-course" title="Click to add a new course">ADD COURSE</a>
        <a href="/map-lesson" title="Click to add a new lesson">ADD LESSON</a>
        <a href="/viewcourse" title="Click to view existing courses">VIEW COURSE</a>
    </div>
</body>
</html>