<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h5>Lesson is already exists.</h5>
	<form action="/addlesson" method="post">
		<label>Lesson Name:</label>
		<input type="text" name="lessonName">
		<br><br>
		<label>Lesson Topics:</label>
		<input type="text" name="topics">
		<br><br>
		<label>Lesson Video:</label>
		<input type="text" name="video">
		<br><br>
		<label>Lesson Attachment:</label>
		<input type="text" name="topics">
		<br><br>
		<input type="submit" value="Add Lesson">
	</form>
</body>
</html>