<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Learn Sphere</title>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="explore.css" rel="stylesheet">
</head>
<body>
	<a href="/map-customerhome"  class="home-link">
        <img src="homeicon.png" alt="Home" class="home-icon" >
    </a>
    <h1>Explore Courses</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Course Prerequisite</th>
                <th>Course Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courselist}">
                <td class="course-name" th:text="${course.name}"></td>
                <td th:text="${course.descrip}"></td>
                <td th:text="${course.prerequsit}"></td>
                <td>
                    <button class="buy-button" th:data-course-id="${course.id}" th:data-course-price="${course.price}" >Buy at INR <span class="price" th:text="${course.price}"></span></button>
                </td>
            </tr>
        </tbody>         
    </table>

    <script>
    $(document).ready(function() {
        $(".buy-button").click(function(e) {
            e.preventDefault();
            var courseId = $(this).data('course-id');
            var coursePrice = $(this).data('course-price');

            if (courseId !== undefined && coursePrice !== undefined) {
                createOrder(courseId, coursePrice);
            } else {
                console.error("Course ID or price is undefined");
            }
        });
    });
    
    function createOrder(courseId, coursePrice) {
        $.post("/createorder", { courseId: courseId, coursePrice: coursePrice }).done(function(order) {
            order = JSON.parse(order);
            var options = {
                "key": "rzp_test_9jELWCaa4Mf7sv",
                "amount": order.amount_due.toString(),
                "currency": "INR",
                "name": "Learn Sphere",
                "description": "Test Transaction",
                "order_id": order.id,
                "handler": function(response) {
                    verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature, courseId);
                },
                "prefill": {
                    "name": "Your Name",
                    "email": "your.email@example.com",
                    "contact": "8249122123"
                },
                "notes": {
                    "address": "Your Address"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }).fail(function(error) {
            console.error("Error:", error);
        });
    }

    function verifyPayment(orderId, paymentId, signature, courseId) {
        $.post("/verify", {
            orderId: orderId,
            paymentId: paymentId,
            signature: signature
        }).done(function(isValid) {
            if (isValid) {
                alert("Payment successful");
                window.location.href = 'payment-success?courseId=' + courseId;
            } else {
                alert("Payment failed");
                window.location.href = 'payment-failure';
            }
        }).fail(function(error) {
            console.error("Error:", error);
        });
    }
    </script>
</body>
</html>
